PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=telegram_attendance_db

TELEGRAM_BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ

JWT_SECRET=super_secret_jwt_key_telegram_attendance_2026
JWT_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:5173

# define with mail srevices
APP_URL=http://localhost:5173
APP_NAME=eRoxiiAttendance
# service mailer
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=sanasokitc2023@gmail.com
EMAIL_PASS=xtgvgmufgolhzjet
EMAIL_FROM_NAME=eRoxiiAttendance
EMAIL_FROM_ADDRESS=noreply@example.com